-- Create notifications table
CREATE TABLE IF NOT EXISTS public.notifications (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  title TEXT NOT NULL,
  message TEXT NOT NULL,
  type TEXT NOT NULL DEFAULT 'info',
  read BOOLEAN DEFAULT false,
  link TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.notifications ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Users
can
view
own
notifications\ ON public.notifications FOR SELECT TO authenticated USING (auth.uid() = user_id);
CREATE POLICY \Users
can
update
own
notifications\ ON public.notifications FOR UPDATE TO authenticated USING (auth.uid() = user_id);

